@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100 200 300 400 500 900;
    src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
    @font-face {
    font-family: 'Gabarito';
    font-style: normal;
    font-weight: 400 500 600 700;
    src: url(https://fonts.gstatic.com/s/gabarito/v7/QGYtz_0dZAGKJJ4t3HtoW4XGnfBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 400 900;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v37/nuFkD-vYSZviVYUb_rj3ij__anPXDTnogkk7yRZrPA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  



  
h1,h2,h3,h4,h5,h6 {
    font-family: Gabarito;
    font-weight: 100;

}
:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6){
    font-family: 'Open Sans';
}


.font-extrabold {
    font-weight: 600;
}
font-family; 'Open Sans';}
    {
    justify-content: center;
    }

    .fancy { 
        font-family: Gabarito;
        font-weight: 600;
        margin-top: 8rem;
        font-size: 4rem;
        line-height: 5rem;

    }

    .lessfancy { 
        font-family: Gabarito;
        font-weight: 400;
        margin-bottom: 2rem;
        font-size: 3.5rem;
        line-height: 3.5rem;

    }

    .intro {
        font-family: Open Sans;
        max-width: 720px;
        margin: 2rem;
        text-align: left;
    }

    .text-4xl {
        font-weight: 600;
        font-size: 3rem;
        line-height: 3.5rem;
    }

    h2 {
        padding: 4% 0% 0% 0%;
        font-weight: 400;

        }


body * {
    justify-content: center;
    }
    
    /* This section for headers allow you to change how they are aligned. If you only want this to change H1 headers for example, then just remove all the other headers from below: */
    
    h1 {
    text-align: center;
    }
    
    .max-w-prose {
    max-width: 800px;
    #  max-width: 100%; /* You can use this in place of the max width pixels option above. Either of them works fine, though I prefer to use the px option. */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    }

    
    table {
        display: table;
        border-collapse: separate;
        line-height: 12;
      }


  .p-4 {
        padding: 1rem;
        width: -webkit-fill-available;
        align-content: center;
    }
    
.thumbnail {
        min-width: 420px;
        min-height: 260px;
        height: auto;
    }

.rounded-md {
        border-radius: 1rem;
    }

.prose :where(h1):not(:where([class~=not-prose],[class~=not-prose] *)) {
        color: var(--tw-prose-headings);
        font-weight: 600;
        font-size: 2.25em;
        margin-top: 0;
        margin-bottom: .8888889em;
        line-height: 1.1111111;
    }

    .prose :where(h2):not(:where([class~=not-prose],[class~=not-prose] *)) {
        color: var(--tw-prose-headings);
        font-weight: 600;
        font-size: 1.5em;
        margin-top: 2em;
        margin-bottom: 1em;
        line-height: 1.3333333;
    }

    .text-xl {
        font-size: 1.8rem;
        font-family: 'gabarito';
        line-height: 3rem;
        /* font-weight: 200; */
    }

    .font-bold {
        font-weight: 600;
    }

    .border-2 {
        border-width: 0px;
        background-color: #f1f3fc;
    }
    
.single_hero_round {
    max-height: none;
    -o-object-fit: cover;
    object-fit: cover;
}